.end-screen{
  position: absolute;
  height: 700px;
  width: 700px;
  margin: 0 200px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 4.5em;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
  }

  h3{
    font-size: 1.5em;
    margin: 5px 0;
  }

  input{
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
  }
  input:focus,
  input.focus{
    border: solid 5px #969696;
  }

  button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-family: 'Arial';
    font-size: 25px;
    color: 'white';
    cursor: pointer;
  }

  .score{
    text-align: center;
    border-bottom: 2px solid lightgray;
  }
}
