*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

@import 'elements/endScreen';
@import 'elements/startScreen';
@import 'variables';
@import 'elements/board';
@import 'elements/frogger';
@import 'elements/car';
@import 'elements/turtle';
@import 'elements/water';
@import 'elements/wood';
